<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="images/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap">
    <script src="https://kit.fontawesome.com/e32b1dc814.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>
<body>
   <header>
       <div class="main-header-top-bar">
       <img src="images/logo-mercado-liebre.svg" alt="Logo mercado liebre" class="logo">
       <form action="/search" method="GET" class="search-form">
					<input type="text" name="keywords" placeholder="Buscar productos, marcas" class="search-form_input">
					<button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
				</form>
       <h2 class="cuotas-header">
       <i class="fas fa-hand-holding-usd" class="logomano">Comprá en cuotas y sin tarjeta de crédito</i>
           
       </h2>
       </div>
       <a href="#" class="hamburguer-botton">
           <i class="fas fa-bars"></i>
       </a>
       <nav class="nav-general">
            <ul class="left-nav">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda </a></li>
            </ul>
            <ul class="rigth-nav">
                <li><a href="">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
                <li><a href="">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
       </nav>
   </header>
   <section class="banner">
		   <img src="/images/img-home-banner.jpg" alt="">
	</section>
    <div class="titulo">
        <h2>
			Basado en tu última visita
		</h2>
    </div>        
	<section class="row">		
        <div class="productos">
			<!-- <div class="prodcto-1"> -->
            <article class="producto">
            <div class="contenido">
                <figure>
                    <a href=""><img src="/images/img-cafetera-moulinex.jpg" alt=""></a>
                </figure>
                <article>
                    <h2>
                        $6.770
                    </h2>
                    <span>40% OFF</span>
                    <i class="fas fa-truck "></i>
                </article>
                <div class="detalle">
                    <p>Cafetera Moulinex Dolce Gusto </p>
                    <p>Lorem ipsum, dolor sit amet.</p>
                </div>
            <!-- </div> -->
        </article>
    <!-- <div class="prodcto-2 "> -->
        <article class="producto">
            <div class="contenido">
                <figure>
                    <a href=""><img src="/images/img-macbook-pro-2019.jpg" alt=""></a>
                </figure>
                <article>
                    <h2>
                        $6.770
                    </h2>
                    <span>40% OFF</span>
                    <i class="fas fa-truck "></i>
                </article>
                <div class="detalle">
                    <p>Cafetera Moulinex Dolce Gusto </p>
                    <p>Lorem ipsum, dolor sit amet.</p>
                </div>
            </div>
        </article>
    <!-- </div> -->
    <!-- <div class="prodcto-3"> -->
        <article class="producto">
            <div class="contenido">
                <figure>
                    <a href=""><img src="/images/img-tv-samsung-smart.jpg" alt=""></a>
                </figure>
                <article>
                    <h2>
                        $6.770
                    </h2>
                    <span>40% OFF</span>
                    <i class="fas fa-truck "></i>
                </article>
                <div class="detalle">
                    <p>Cafetera Moulinex Dolce Gusto </p>
                    <p>Lorem ipsum, dolor sit amet.</p>
                </div>
            </div>
        </article>
    <!-- </div> -->
    <!-- <div class="prodcto-4"> -->
        <article class="producto">
            <div class="contenido">
                <figure>
                    <a href=""><img src="/images/img-samsung-galaxy-s10.jpg" alt=""></a>
                </figure>
                <article>
                    <h2>
                        $6.770
                    </h2>
                    <span>40% OFF</span>
                    <i class="fas fa-truck "></i>
                </article>
                <div class="detalle">
                    <p>Cafetera Moulinex Dolce Gusto </p>
                    <p>Lorem ipsum, dolor sit amet.</p>
                </div>
            </div>
        </article>
    </div>

    
</section>

<!-- SECCION: OFERTAS -->

<section class="row">
    <div class="titulo">
        <h2>
            Ofertas
        </h2>
    </div>
    <div class="productos">
        <article class="producto">
            <div class="contenido">
                <figure>
                    <a href=""><img src="/images/img-cafetera-moulinex.jpg" alt=""></a>
                </figure>
                <article>
                    <h2>
                        $6.770
                    </h2>
                    <span>40% OFF</span>
                    <i class="fas fa-truck "></i>
                </article>
                <div class="detalle">
                    <p>Cafetera Moulinex Dolce Gusto </p>
                    <p>Lorem ipsum, dolor sit amet.</p>
                </div>
            </div>
        </article>
        <article class="producto">
            <div class="contenido">
                <figure>
                    <a href=""><img src="/images/img-macbook-pro-2019.jpg" alt=""></a>
                </figure>
                <article>
                    <h2>
                        $6.770
                    </h2>
                    <span>40% OFF</span>
                    <i class="fas fa-truck "></i>
                </article>
                <div class="detalle">
                    <p>Cafetera Moulinex Dolce Gusto </p>
                    <p>Lorem ipsum, dolor sit amet.</p>
                </div>
            </div>
        </article>
        <article class="producto">
            <div class="contenido">
                <figure>
                    <a href=""><img src="/images/img-tv-samsung-smart.jpg" alt=""></a>
                </figure>
                <article>
                    <h2>
                        $6.770
                    </h2>
                    <span>40% OFF</span>
                    <i class="fas fa-truck "></i>
                </article>
                <div class="detalle">
                    <p>Cafetera Moulinex Dolce Gusto </p>
                    <p>Lorem ipsum, dolor sit amet.</p>
                </div>
            </div>
        </article>
        <article class="producto">
            <div class="contenido">
                <figure>
                    <a href=""><img src="/images/img-samsung-galaxy-s10.jpg" alt=""></a>
                </figure>
                <article>
                    <h2>
                        $6.770
                    </h2>
                    <span>40% OFF</span>
                    <i class="fas fa-truck "></i>
                </article>
                <div class="detalle">
                    <p>Cafetera Moulinex Dolce Gusto </p>
                    <p>Lorem ipsum, dolor sit amet.</p>
                </div>
            </div>
        </article>
    </div>
    </div>

    
</section>

</div>
<!-- FOOTER -->
<footer class="container-fluid">
    <div class="row footer">	
        <div class="footer-div">
            <article>
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
        </div>

        <div class="footer-div">
            <article>
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde $ 1.999</h4>
                <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
        </div>
        
        <div class="footer-div">
            <article>
                <i class="fas fa-user-shield "></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
            </article>
        </div>
        
    </div>    
    <div class="copyright">
            <p>
                Copyright © 1999-2019 MercadoLiebre S.R.L.
            </p>
        </div>
</footer>
</body>
</html>